.user {
    display: flex;
    align-items: center;
}

.thumbnail {
    height: 3rem;
    border-radius: 100%;
    padding: 1rem;
}

.image {
    width: 100%;
}

.likes {
    font-size: 1.5rem;
}

.liked {
    font-size: 1.5rem;
    color: red;
}